<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="ITHelpDesk.Module.Navigation.dll" moduleType="ITHelpDesk.Module.Navigation.NavigationModule, ITHelpDesk.Module.Navigation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="NavigationModule" startupLoaded="true"/>
    <module assemblyFile="ITHelpDesk.Modules.Employee.dll" moduleType="ITHelpDesk.Modules.Employee.EmployeeModule, ITHelpDesk.Modules.Employee, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          moduleName="EmployeeModule" startupLoaded="true"/>
    <module assemblyFile="ITHelpDesk.Modules.Software.dll" moduleType="ITHelpDesk.Modules.Software.SoftwareModule, ITHelpDesk.Modules.Software, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          moduleName="SoftwareModule" startupLoaded="false"/>
    <module assemblyFile="ITHelpDesk.Modules.Hardware.dll" moduleType="ITHelpDesk.Modules.Hardware.HardwareModule, ITHelpDesk.Modules.Hardware, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          moduleName="HardwareModule" startupLoaded="false"/>
    <module assemblyFile="ITHelpDesk.Module.Request.dll" moduleType="ITHelpDesk.Module.Request.RequestModule,ITHelpDesk.Module.Request, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="RequestModule" startupLoaded="false"/>
  </modules>
  <appSettings>
    <add key="Modules" value="Software:SoftwareModule,Hardware:HardwareModule,All:RequestModule" />
  </appSettings>
</configuration>